@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using BugSquish.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="lbox-horz"></div>
<div class="lbox-vert">
    <a href=@Url.Action("Register", "Account") class="icon-info ttips forgot-password" title="Problem&nbsp;Login?"></a>
    <a href=@Url.Action("ForgotPassword", "Account") class="icon-info ttips forgot-password" title="Problem&nbsp;Login?"></a>
</div>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="login-box side-form">
        <div class="form-group">
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @class = "input-sm validate[required,custom[email]] form-control", placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "input-sm validate[required] form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <input type="submit" class="btn btn-gr-gray btn-block btn-xs" value="VERIFY & lOGIN">
        </div>
    </div>
   }

