@model IEnumerable<CFBudgeter.Models.Budget>

@{
    ViewBag.Title = "Index";
}

<div id="content-header">
    <h1>Budget Index</h1>
</div>
<div id="content-container">
    <div class="portlet" data-toggle="tooltip" data-placement="bottom" title="A comprehensive list of household budgets. These consist of groups of budget items (category/amount pairs). If no categories exist, you will be re-directed to the category creation page.">
        <div class="portlet-header">
            <h3>
                <i class="fa fa-bar-chart-o"></i>
                Budgets
            </h3>
            <ul class="portlet-tools pull-right">
                <li>
                    @Html.ActionLink("New Budget", "Create", null, new { @class = "btn btn-sm btn-success" })
                </li>
            </ul>

        </div> <!-- /.portlet-header -->

        <div class="portlet-content">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Budget Name
                            </th>
                            <th>
                                Budget Items
                            </th>
                            <th>Budget Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BudgetItems.Count)
                                </td>
                                <td>
                                    $@item.BudgetItems.Sum(b => b.Amount)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- /.table-responsive -->
        </div> <!-- /.portlet-content -->
    </div>

</div>

