@model CFBudgeter.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div id="content-header">
    <h1>@ViewBag.Title Account</h1>
    <p class="text-success">@ViewBag.StatusMessage</p>
</div id="content-header">

<div id="content-container">
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 col-sm-6">

            <div class="list-group">

                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                    </h4>
                    <p class="list-group-item-text">Password</p>
                </div>

                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins", null, new { @class = "btn btn-xs btn-info" }) ]
                </h4>
                <p class="list-group-item-text">External Logins</p>
            </div>

            @*<div class="list-group-item">
                    <h4 class="list-group-item-heading">
                    @if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                                <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                                <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
                    </h4>
                    <p class="list-group-item-text">Two-Factor Authentication</p>
                </div>*@
        </div> <!-- /.list-group -->
    </div>
</div>

</div>

