@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "BugSquish";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bug Squisher App" />
    <meta name="keywords" content="app, bug tracker, portfolio, bug squisher, Coder Foundry"/>
    <title>@ViewBag.Title</title>

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/calendar.min.css" rel="stylesheet" />
    <link href="~/Assets/css/file-manager.min.css" rel="stylesheet" />
    <link href="~/Assets/css/form.min.css" rel="stylesheet" />
    <link href="~/Assets/css/icomoon.min.css" rel="stylesheet" />
    <link href="~/Assets/css/media-player.min.css" rel="stylesheet" />
    <link href="~/Assets/css/style.min.css" rel="stylesheet" /> 


    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace","Ajax"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"0d78b0be-c449-41b2-acfd-f8978a001886"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <header id="header" class="clearfix">
        <!-- Logo -->
        <a href=@Url.Action("Index","Home") class="logo shadowed">
            BUG SQUISH 1.0
        </a>

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="dropdown profile-menu shadowed">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    @*<img src="~/Assets/img/profile-pics/profile-pic.png" alt="" class="profile-pic">*@
                    Welcome @User.Identity.GetUserName()
                </a>
                <ul class="dropdown-menu pull-right text-right">
                    <li>@Html.ActionLink("View Profile", "Index", "Manage", null, new { @title= "Profile"} )</li>
                    <li>@Html.ActionLink("Update Profile", "Edit", "Manage", null, new { @title = "Manage" })</li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            </div>
        }
    </header>


    @*<div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@

    <section id="main" role="main">

        <!-- Left Sidebar -->
        <aside id="leftbar" class="pull-left">
            <div class="sidebar-container">
                <!-- Main Menu -->
                <ul class="side-menu shadowed">
                    <li>
                        <a href=@Url.Action("Index","Home")><i class="icon-home"></i>Dashboard</a>
                    </li>
                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                    {
                    <li>
                        <a href=@Url.Action("Index","Projects")><i class="icon-hammer"></i>Projects</a>
                    </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                    <li>
                        <a href=@Url.Action("UserRolesIndex","Manage")><i class="icon-profile"></i>Roles Management</a>
                    </li>
                    }
                    <li>
                        <a href=@Url.Action("Index","Tickets")><i class="icon-tag"></i>Tickets</a>
                    </li>
                    <li>
                        <a href=@Url.Action("About","Home")><i class="icon-question"></i>Help</a>
                    </li>
                    @*<li class="submenu">
                        <a href=""><i class="icon-table-2"></i>Tables</a>
                        <ul>
                            <li><a href="tables.html">Normal Tables</a></li>
                            <li><a href="data-table.html">Data Table</a></li>
                        </ul>
                    </li>*@                                                                                                 
                </ul>
            </div>
            <span id="leftbar-toggle" class="visible-xs sidebar-toggle">
                <i class="icon-angle-right"></i>
            </span>
        </aside>

        <!-- Right Sidebar -->
        <aside id="rightbar" class="pull-right">
            <div class="sidebar-container">
                <!-- Date + Clock -->
                <div class="clock shadowed">
                    <div id="date"></div>
                    <div id="time">
                        <span id="hours"></span>
                        :
                        <span id="min"></span>
                        :
                        <span id="sec"></span>
                    </div>
                </div>

                <!-- Calendar -->
                <div class="shadowed side-calendar">
                    <div id="sidebar-calendar"></div>
                </div>                
            </div>

            <span id="rightbar-toggle" class="hidden-lg sidebar-toggle">
                <i class="icon-angle-left"></i>
            </span>
        </aside>

        <!-- Content -->
        <section id="content" class="container">
        @RenderBody()
        </section>
    </section>


    <footer id="footer">
        @*<p>Copyright (c) 2012-2013, Lebaze Admin Templates. All rights reserved.</p>*@
    </footer>



    <!-- Template skin customize(you can remove this anytime) -->
    @*<div class="template-customize hidden-xs">
        <i class="icon-cogs" id="tc-toggle"></i>
        <ul data-elem="body">
            <li class="header">Body</li>
            <li><img src="~/Assets/img/body-bg/cloth.png" alt=""></li>
            <li><img src="~/Assets/img/body-bg/stripes.png" alt=""></li>
            <li><img src="~/Assets/img/body-bg/bluetec.png" alt=""></li>
            <li><img src="~/Assets/img/body-bg/cement.png" alt=""></li>
            <li><img src="~/Assets/img/body-bg/fabric.png" alt=""></li>
            <li><img src="~/Assets/img/body-bg/fabric-2.png" alt=""></li>
            <li><img src="~/Assets/img/body-bg/floor.png" alt=""></li>
            <li><img src="~/Assets/img/body-bg/leather.png" alt=""></li>
            <li><img src="~/Assets/img/body-bg/pixel.png" alt=""></li>
            <li><img src="~/Assets/img/body-bg/tactile.png" alt=""></li>
        </ul>
        <ul data-elem="content">
            <li class="header">Content</li>
            <li><img src="~/Assets/img/content-bg/content-bg.jpg" alt=""></li>
            <li><img src="~/Assets/img/content-bg/lines.png" alt=""></li>
            <li><img src="~/Assets/img/content-bg/cloth.png" alt=""></li>
            <li><img src="~/Assets/img/content-bg/grid.png" alt=""></li>
            <li><img src="~/Assets/img/content-bg/gray-leather.png" alt=""></li>
            <li><img src="~/Assets/img/content-bg/jean.png" alt=""></li>
            <li><img src="~/Assets/img/content-bg/light.png" alt=""></li>
            <li><img src="~/Assets/img/content-bg/subtle.png" alt=""></li>
        </ul>
    </div>*@

    <!--scripts for template-->
    <script src="~/Assets/js/jquery-1.10.2.min.js"></script>
    <script src="~/Assets/js/jquery-ui-1.10.3.min.js"></script>
    @*<script src="~/Assets/js/chart/highcharts.js"></script>
    <script src="~/Assets/js/chart/modules/exporting.js"></script>*@
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/feeds.js"></script>
    <script src="~/Assets/js/chosen.js"></script>
    <script src="~/Assets/js/shadowbox.js"></script>
    <script src="~/Assets/js/sparkline.min.js"></script>
    <script src="~/Assets/js/masonry.min.js"></script>
    <script src="~/Assets/js/enscroll.min.js"></script>
    <script src="~/Assets/js/calendar.min.js"></script>
    <script src="~/Assets/js/autosize.min.js"></script>
    <script src="~/Assets/js/select.min.js"></script>
    <script src="~/Assets/js/toggler.min.js"></script>
    <script src="~/Assets/js/datetimepicker.min.js"></script>
    <script src="~/Assets/js/colorpicker.min.js"></script>
    <script src="~/Assets/js/fileupload.min.js"></script>
    <script src="~/Assets/js/media-player.js"></script>
    <script src="~/Assets/js/validation/validate.min.js"></script>
    <script src="~/Assets/js/validation/validationEngine.min.js"></script>
    <script src="~/Assets/js/datatables.min.js"></script>
    <script src="~/Assets/js/functions.js"></script>
    <script src="~/Assets/js/jquery.dotdotdot.js"></script>

    <!--other scripts-->        
    <script type="text/javascript">

        //runs dotdotdot for index pages
        $(document).ready(function () {
            $("[id^=abstract]").dotdotdot({
                height: 25,
                ellipsis: '... ',
                wrap: 'word',
                fallbackToLetter: true,
                watch: "window"
            });
        });

        //template customization
        $(document).ready(function () {
        //$('.template-customize ul li').click(function () {
        //    var getElem = $(this).closest('ul').attr('data-elem');
        //    var target = (getElem == "body") ? "body, #leftbar, #rightbar" : "#content";

        //    var src = $(this).find('img').attr('src');
        //    var bg = 'url(' + src + ')';
        //    $(target).css('background', bg)
        //});

        //$('#tc-toggle').click(function () {
        //    $('.template-customize').css('height', 'auto');
        //});

        //$(document).mouseup(function (e) {
        //    var container = $(".template-customize");
        //    if (container.has(e.target).length === 0) {
        //        container.height(0);
        //    }
        //});

            //script for datatable
        $('#example').dataTable({
                "aoColumnDefs": [ 
                    {
                        // `data` refers to the data for the cell (defined by `mData`, which
                        // defaults to the column being worked with, in this case is the first
                        // Using `row[0]` is equivalent.
                        "mRender": function ( data, type, row ) {
                                return data +' '+ row[3];
                        },
                        "aTargets": [ 0 ]
                    },
                    { "bVisible": false,  "aTargets": [ 3 ] },
                    { "sClass": "center", "aTargets": [ 4 ] }
                ],            
                "sPaginationType": "full_numbers"
            });
            //Modify Data Table
            $('.dataTables_wrapper .sOption').wrapAll('<div class="sOption_wrapper"></div>');
            $('.dataTables_wrapper .pagin').wrapAll('<div class="sOption_wrapper"></div>');
    });   
    
   

    //Masonry for widgets
    $(window).load(function () {
        $('.m-container').masonry({
            itemSelector: '.masonry'
        });
    });

    </script>

</body>
</html>
