@model BugSquish.Models.TicketComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <div>
                <h4>TicketComment</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Author.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Author.FirstName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Body)
                    </dt>

                    <dd>
                        @Html.Raw(Model.Body)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Back to List", "Details", "Tickets", new { id = Model.TicketId}, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</div>

