@model CFBudgeter.Models.DashboardViewModel 

@{
    ViewBag.Title = "Dashboard";
}
<div id="content-header">
        <h1>Dashboard</h1>
</div>

<div id="content-container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-stat secondary">
                        <div class="details">
                            <span class="content"></span>
                            <span class="value">@Model.Household.Name</span>
                        </div> <!-- /.details -->
                    </div> <!-- /.dashboard-stat -->
                </div> <!-- /.col-md-3 -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet" data-toggle="tooltip" title="A list of your primary accounts.">
                        <div class="portlet-header">
                            <h3>
                                <i class="fa fa-home"></i>
                                Household Accounts
                            </h3>
                            <ul class="portlet-tools pull-right">
                                <li>
                                    @Html.ActionLink("View All", "Index", "HouseholdAccounts", null, new { @class = "btn btn-sm btn-default" })
                                </li>
                            </ul>

                        </div> <!-- /.portlet-header -->

                        <div class="portlet-content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Account</th>
                                            <th>Balance</th>
                                            <th>Reconciled Balance</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var account in Model.Accounts)
                                        {
                                            <tr>
                                                <td>@account.Name</td>
                                                <td>$@account.Balance</td>
                                                <td>$@account.ReconciledBalance</td>
                                                <td>@Html.ActionLink("Details", "Details", "HouseholdAccounts", new { id = account.Id }, new { @class = "btn btn-xs btn-tertiary" })</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div> <!-- /.table-responsive -->
                        </div> <!-- /.portlet-content -->

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-stat tertiary">
                        <div class="details">
                            <span class="content"></span>
                            <span class="value">@DateTimeOffset.Now.ToString("D")</span>
                        </div> <!-- /.details -->
                    </div> <!-- /.dashboard-stat -->
                </div> <!-- /.col-md-3 -->
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="portlet" data-toggle="tooltip" data-placement="top" title="A list of your household's 5 most recent transactions.">
                            <div class="portlet-header">
                                <h3>
                                    <i class="fa fa-money"></i>
                                    Recent Transactions
                                </h3>
                                <ul class="portlet-tools pull-right">
                                    <li>
                                        @*@Html.ActionLink("View All", "Index", "Transactions", null, new { @class = "btn btn-sm btn-default" })*@
                                    </li>
                                </ul>
                            </div> <!-- /.portlet-header -->

                            <div class="portlet-content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Account</th>
                                                <th>Category</th>
                                                <th>Amount</th>
                                                <th>Description</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="3">
                                            @foreach (var transaction in Model.RecentTransactions)
                                            {
                                                <tr>
                                                    <td>@transaction.Date.ToString("d")</td>
                                                    <td>@transaction.Account.Name</td>
                                                    <td>@transaction.Category.Name</td>
                                                    <td>$@transaction.Amount</td>
                                                    <td>@transaction.Descriptions</td>
                                                    <td>@Html.ActionLink("Details", "Details", "Transactions", new { id = transaction.Id }, new { @class = "btn btn-xs btn-tertiary" })</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-responsive -->
                            </div> <!-- /.portlet-content -->
                        </div>
                    </div>

                </div>
        </div>

        <!--bar chart column-->
        <div class="col-md-8">  
            <div class="portlet">
                    <div class="portlet-header">
                        <ul class="portlet-tools pull-right" style="list-style-type: none; display: inline" data-toggle="tooltip" data-placement="top" title="This allows you to switch between household budgets.">
                            @using (Html.BeginForm("SelectBudget", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <li>
                                    @Html.DropDownListFor(model => model.CurrentBudgetId, Model.HouseholdBudgets, new { @class = "form-control" })
                                </li>
                                <li><input type="submit" value="Switch Budget" class="btn btn-success" /></li>
                            }
                        </ul>
                    </div> <!-- /.portlet-header -->

                <div class="portlet-content" data-toggle="tooltip" data-placement="bottom" title="A comparison of amounts spent (transactions) vs. budgeted. Grouped by category.">
                    <!--bar chart will go here-->
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                    <table id="datatable" hidden>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Spent</th>
                                <th>Budgeted</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var today = DateTime.Now;
                                var budgettotal = Model.CurrentBudget.BudgetItems.Sum(t => t.Amount);
                                foreach (var item in Model.CurrentBudget.BudgetItems)
                                {
                                    <tr>
                                        <th>@item.Category.Name</th>
                                        <td>@Model.Accounts.SelectMany(a => a.Transactions).Where(t => t.Date.Year == today.Year && t.Date.Month == today.Month && t.CategoryId == item.CategoryId && t.Type == false).Sum(t => t.Amount)</td>
                                        <td>@item.Amount</td>
                                    </tr>
                                }
                                <tr>
                                    <th>Budget Outlook</th>
                                    <td>@Model.Accounts.SelectMany(a => a.Transactions).Where(t => t.Date.Year == today.Year && t.Date.Month == today.Month && t.Type == false).Sum(t => t.Amount)</td>
                                    <td>@budgettotal</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div> <!-- /.portlet-content -->
                </div> <!-- /.portlet -->
            <div class="portlet">
                <div class="portlet-header">
                    <h3>
                        <i class="fa fa-home"></i>
                        Household Budgets
                    </h3>
                    <ul class="portlet-tools pull-right">
                        <li>
                            @Html.ActionLink("View All", "Index", "Budgets", null, new { @class = "btn btn-sm btn-default" })
                        </li>
                    </ul>

                </div> <!-- /.portlet-header -->

                <div class="portlet-content">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Budget</th>
                                    <th>Number of Items</th>
                                    <th>Budget Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var budget in Model.Household.Budgets.Take(3))
                                {
                                    <tr>
                                        <td>@budget.Name</td>
                                        <td>@budget.BudgetItems.Count</td>
                                        <td>$@budget.BudgetItems.Sum(b => b.Amount)</td>
                                        <td>@Html.ActionLink("Details", "Details", "Budgets", new { id = budget.Id }, new { @class = "btn btn-xs btn-tertiary" })</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div> <!-- /.table-responsive -->
                </div> <!-- /.portlet-content -->

            </div> <!--portlet-->
        </div> <!-- /.col -->
    </div>

    @*<div class="row">
        <div class="col-md-8">

        </div>
    </div>*@
</div>
