@model CFBudgeter.Models.DashboardViewModel 

@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
</div>

<div class="col-md-4">
    <div class="portlet">
        <div class="portlet-header">
            <h3>
                <i class="fa fa-money"></i>
                Accounts
            </h3>
            <ul class="portlet-tools pull-right">
                <li>
                        @Html.ActionLink("Accounts", "Index", "HouseholdAccounts", null, new { @class = "btn btn-sm btn-default" })
                </li>
            </ul>

        </div> <!-- /.portlet-header -->

        <div class="portlet-content">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>Balance</th>
                            <th>Reconciled Balance</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var account in Model)
                        {
                            <tr>
                                <td>@account.Name</td>
                                <td>@account.Balance</td>
                                <td>@account.ReconciledBalance</td>
                                <td>@Html.ActionLink("Details", "Details", "HouseholdAccounts", new { id = account.Id}, new { @class = "btn btn-xs btn-tertiary"})</td>
                            </tr>
                        }

                        <tr>
                            <td>09/21/2013</td>
                            <td>1</td>
                            <td>$30.89</td>
                            <td><a href="javascript:;" class="btn btn-xs btn-tertiary">View &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></td>
                        </tr>
                        <tr>
                            <td>09/20/2013</td>
                            <td>2</td>
                            <td>$52.06</td>
                            <td><a href="javascript:;" class="btn btn-xs btn-tertiary">View &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></td>
                        </tr>
                        <tr>
                            <td>09/19/2013</td>
                            <td>4</td>
                            <td>$73.54</td>
                            <td><a href="javascript:;" class="btn btn-xs btn-tertiary">View &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></td>
                        </tr>
                        <tr>
                            <td>09/19/2013</td>
                            <td>4</td>
                            <td>$73.54</td>
                            <td><a href="javascript:;" class="btn btn-xs btn-tertiary">View &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></td>
                        </tr>
                        <tr>
                            <td>09/19/2013</td>
                            <td>4</td>
                            <td>$73.54</td>
                            <td><a href="javascript:;" class="btn btn-xs btn-tertiary">View &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- /.table-responsive -->

            <hr>

            <a href="javascript:;" class="btn btn-sm btn-secondary">View All Orders</a>


        </div> <!-- /.portlet-content -->

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>