<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>


    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome...| Powers Wartman</title>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/assets/plugins/layer_slider/css/layerslider.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="~/assets/css/pages/blog.css" />

    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/assets/css/themes/default.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <script type="text/javascript" src="~/assets/plugins/jquery-1.10.2.min.js"></script>
    <script src="~/assets/plugins/dotdotdot/jQuery.dotdotdot-master/src/js/jquery.dotdotdot.js"></script>

</head>

<body class="boxed-layout container">
    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header">
            <div class="topbar">
                <div class="container">
                    <!-- Topbar Navigation -->
                    <ul class="loginbar pull-right">

                        <!--<li><a href="https://support.google.com/chrome/?hl=en#topic=3227046">Help</a></li> -->

                    </ul>
                    <!-- End Topbar Navigation -->
                </div>
            </div>
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                        <a class="navbar-brand" href="http://rpwartman.azurewebsites.net/">
                            <img id="logo-header" src="~/assets/img/site logo-sm.png" alt="Logo">
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <!-- Home -->
                            <li>
                                <a href="http://rpwartman.azurewebsites.net/">Home</a>
                            </li>
                            <!-- End Home -->
                            <!-- About -->
                            <li class="">
                                <a href="http://rpwartman.azurewebsites.net/about.html" class="">About</a>
                            </li>
                            <!-- End About-->
                            <!-- Resume -->
                            <li class="">
                                <a href="http://rpwartman.azurewebsites.net/Resume.html" class="">Resume</a>
                            </li>
                            <!-- End Resume -->
                            <!-- Portfolio -->
                            <li class="">
                                <a href="http://rpwartman.azurewebsites.net/portfolio.html" class="">Portfolio</a>
                            </li>
                            <!-- End Portfolio -->
                            <!-- Blog -->
                            <li class="">
                                <a href="~/Posts/Index" class="">Blog</a>
                            </li>
                            <!-- End Blog -->
                            <!-- Contact -->
                            <li class="">
                                <a href="http://rpwartman.azurewebsites.net/contact.html" class="">Contact</a>
                            </li>
                            <!-- End Contacts -->
                            <!-- Search Block -->
                            <!--   <li>
                                   <i class="search fa fa-search search-btn"></i>
                                   <div class="search-open">
                                       <div class="input-group animated fadeInDown">
                                           <input type="text" class="form-control" placeholder="Search">
                                           <span class="input-group-btn">
                                               <button class="btn-u" type="button">Go</button>
                                           </span>
                                       </div>
                                   </div>
                               </li>
                               <!-- End Search Block -->
                        </ul>
                    </div><!--/navbar-collapse-->
                </div>
            </div>
            <!-- End Navbar -->

            <!--=== Breadcrumbs ===-->
            <div class="breadcrumbs">
                <div class="container">
                    <div class="row">
                            <ul class="pull-left breadcrumb">
                                <li><a href="http://rpwartman.azurewebsites.net/">Home</a></li>
                                <li><a href="~/Posts/Index">Blog</a></li>
                            </ul>
                    <div class="pull-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                                
   
                    </div>
                </div>
            </div>
        </div><!--/breadcrumbs-->
            <!--=== End Breadcrumbs ===-->


        
        <!--=== End Header ===-->

        <div class="container body-content" id="body-background">
            @RenderBody()
        </div>

        <!--=== Footer ===-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!--<div class="col-md-4 md-margin-bottom-20">
                        <!-- About -->
                    <!-- <div class="headline"><h2>About</h2></div>
                     <p class="margin-bottom-15 md-margin-bottom-20">Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p>
                     <!-- End About -->

                </div><!--/col-md-4-->

                <div class="col-md-4">
                    <!--^md-margin-bottom-40 add to class-->
                    <!-- Recent Blogs -->
                    <!-- <div class="posts">
                         <div class="headline"><h2>Recent Blog Entries</h2></div>
                         <dl class="dl-horizontal">
                             <dt><a href="#"><img src="assets/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                             <dd>
                                 <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                             </dd>
                         </dl>
                         <dl class="dl-horizontal">
                         <dt><a href="#"><img src="assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                             <dd>
                                 <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                             </dd>
                         </dl>
                         <dl class="dl-horizontal">
                         <dt><a href="#"><img src="assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                             <dd>
                                 <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                             </dd>
                         </dl>
                     </div>
                     <!-- End Recent Blogs -->
                </div><!--/col-md-4-->

                <div class="col-md-12">
                    <!-- Contact Us -->
                    <!--  <div class="headline"><h2>Contact Me</h2></div>
                      <address class="md-margin-bottom-20">
                          Phone: 828 713 7749 <br />
                          <br />
                          Email: <a href="mailto:powers.wartman@gmail.com" class="">powers.wartman@gmail.com</a>
                      </address>
                      <!-- End Contact Us -->
                    <!-- Social Links -->
                    <div class="headline"><h2>Stay Connected</h2></div>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/powers.wartman" data-original-title="Facebook" class="social_facebook"></a></li>
                        <li><a href="https://twitter.com/powers_wartman" data-original-title="Twitter" class="social_twitter"></a></li>
                        <li><a href="https://www.linkedin.com/in/robert-wartman-92ba64106" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    </ul>
                    <!-- End Social Links -->
                </div><!--/col-md-4-->
            </div>
        </div>    <!--/footer-->
        <!--=== End Footer ===-->

        <!--=== Copyright ===-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <p>
                             2014 &copy; Unify. ALL Rights Reserved.
                             <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                         </p>-->
                    </div>
                    <div class="col-md-6">
                        <a href="http://rpwartman.azurewebsites.net/">
                            <img class="pull-right" id="logo-footer" src="~/assets/img/site logo-sm.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div><!--/copyright-->
        <!--=== End Copyright ===-->

    </div><!--/wrapper-->

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="~/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery.mixitup.min.js"></script>
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
    tinymce.init({
        selector: '#mytextarea',
        toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code pagebreak',
        plugins: 'code pagebreak',
        browser_spellcheck: true,

    });
    </script>
    <!-- Layer Slider -->
    <script src="~/assets/plugins/layer_slider/jQuery/jquery-easing-1.3.js" type="text/javascript"></script>
    <script src="~/assets/plugins/layer_slider/jQuery/jquery-transit-modified.js" type="text/javascript"></script>
    <script src="~/assets/plugins/layer_slider/js/layerslider.transitions.js" type="text/javascript"></script>
    <script src="~/assets/plugins/layer_slider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="~/assets/js/app.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/index.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/page_portfolio.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initSliders();
            PortfolioPage.init();
            Index.initLayerSlider();
        });
    </script>
    <!-- For Background Image -->
    <script type="text/javascript" src="~/assets/plugins/backstretch/jquery.backstretch.min.js"></script>
    <script type="text/javascript">
        $.backstretch([
          "/assets/img/bg/15.jpg"
        ])
    </script>
    <!-- End For Background Image -->
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
    <![endif]-->
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>