@model CFBudgeter.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<div id="content-header">
    <h1>Transaction Details</h1>
</div>

<div id="content-container">
        <div class="row">
            <div class="col-md-6 col-sm-6">

                <div class="list-group">

                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.DisplayFor(model => model.Account.Name)</h4>
                        <p class="list-group-item-text">Account Name</p>
                    </div>

                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.DisplayFor(model => model.Category.Name)</h4>
                        <p class="list-group-item-text">@Html.DisplayNameFor(model => model.Category)</p>
                    </div>

                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.DisplayFor(model => model.Descriptions)</h4>
                        <p class="list-group-item-text">Description</p>
                    </div>

                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.DisplayFor(model => model.Date)</h4>
                        <p class="list-group-item-text">@Html.DisplayNameFor(model => model.Date)</p>
                    </div>

                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">$@Html.DisplayFor(model => model.Amount)</h4>
                        <p class="list-group-item-text">@Html.DisplayNameFor(model => model.Amount)</p>
                    </div>

                    <div class="list-group-item">
                        @if (Model.Reconciled == true)
                        {
                            <h4 class="list-group-item-heading">Yes</h4>
                        }
                        else
                        {
                            <h4 class="list-group-item-heading">No</h4>

                        }
                        <p class="list-group-item-text">@Html.DisplayNameFor(model => model.Reconciled)</p>
                    </div>
                </div> <!-- /.list-group -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Back to Account", "Details", "HouseholdAccounts", new { id = Model.AccountId }, new { @class = "btn btn-default" })
            </div>
    </div>
    
</div>

