@model BugSquish.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password Form";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-columned">
        <div class="row">
            <div class="form-group col-lg-offset-1 col-lg-6">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>

            <div class="form-group col-lg-offset-1 col-lg-6">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>

            <div class="form-group col-lg-offset-1 col-lg-6">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

            <div class="form-group col-lg-offset-1 col-lg-6">
                <input type="submit" value="Change password" class="btn btn-success" />
                @Html.ActionLink("Back to Options", "Index", "Manage", null, new { @class = "btn btn-info" })
                @Html.ActionLink("Dashboard", "Index", "Home", null, new { @class = "btn btn-default pull-right" })
            </div>
        </div>
    </div>
}
