@model BugSquish.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <div class="list-group">
            <hr />
                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Title)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Title)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Author.FirstName)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Notes)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Notes)</p>
                </div>

                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Created)</h5>
                            <p class="list-group-item-text">@Model.Created.ToString("d"))</p>
                        </div>
                        @if (Model.Updated.HasValue)
                        {
                        <div class="col-md-6">
                            <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Updated)</h5>
                            <p class="list-group-item-text">@Model.Updated.Value.ToString("d"))</p>
                        </div>
                        }
                    </div>

                </div>

                <div class="list-group-item">
                    <p class="list-group-item-text">
                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                        {
                            @Html.ActionLink("Edit Ticket", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                        }
                        @Html.ActionLink("Back to Tickets Index", "Index", null, new { @class = "btn btn-info" })
                    </p>
                </div>
                <hr />
            </div> <!-- /.list-group -->
        </div>
        <div class="col-md-5">
            <div class="list-group">
            <hr />
                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.TicketType)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.TicketType.Name)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Priority)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Priority.Name)</p>
                </div>    

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Developer)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Developer.FirstName) @Html.DisplayFor(model => model.Developer.LastName)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Status)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Status.Name)</p>
                </div>
                        
                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Project.Manager)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Project.Manager.FirstName) @Html.DisplayFor(model => model.Project.Manager.LastName)</p>
                </div>
            <hr />
            </div> <!-- /.list-group -->
        </div>
    </div>
</div>


