@model BugSquish.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <!--attachments display panel-->
            <div class="panel panel-primary">
                <div class="panel-heading row">
                    <h4 class="col-md-4">
                        Attachments
                    </h4>
                    <div class="col-md-7 text-center">
                        @Html.ActionLink("Create New", "Create", "TicketAttachments", new { id = Model.Id }, new { @class = "btn btn-success pull-right" })
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Author
                            </th>
                            <th>
                                Notes
                            </th>
                            <th>
                                Created
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Attachments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
                                </td>
                                <td id=@("abstract" + item.Id)>
                                    @Html.DisplayFor(modelItem => item.Notes)
                                </td>
                                <td>
                                    @item.Created.ToString("D"))
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", "TicketAttachments", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="list-group">
            <hr />
                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Title)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Title)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Author.FirstName)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Notes)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Notes)</p>
                </div>

                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Created)</h5>
                            <p class="list-group-item-text">@Model.Created.ToString("d"))</p>
                        </div>
                        @if (Model.Updated.HasValue)
                        {
                        <div class="col-md-6">
                            <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Updated)</h5>
                            <p class="list-group-item-text">@Model.Updated.Value.ToString("d"))</p>
                        </div>
                        }
                    </div>

                </div>

                <div class="list-group-item">
                    <p class="list-group-item-text">
                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                        {
                            @Html.ActionLink("Edit Ticket", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                        }
                        @Html.ActionLink("Back to Tickets Index", "Index", null, new { @class = "btn btn-info" })
                    </p>
                </div>
                <hr />
            </div> <!-- /.list-group -->



        </div>
        <div class="col-md-5">
            <!--comments display panel-->
            <div class="panel panel-primary">
                <div class="panel-heading row">
                    <h4 class="col-md-4">
                        Comments
                    </h4>
                    <div class="col-md-7 text-center">
                        @Html.ActionLink("Create New", "Create", "TicketComments", new { id = Model.Id }, new { @class = "btn btn-success pull-right" })
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Author
                            </th>
                            <th>
                                Body
                            </th>
                            <th>
                                Created
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
                                </td>
                                <td id=@("abstract" + item.Id)>
                                    @Html.DisplayFor(modelItem => item.Body)
                                </td>
                                <td>
                                    @item.Created.ToString("D"))
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", "TicketComments", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="list-group">
            <hr />
                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.TicketType)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.TicketType.Name)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Priority)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Priority.Name)</p>
                </div>    

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Developer)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Developer.FirstName) @Html.DisplayFor(model => model.Developer.LastName)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Status)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Status.Name)</p>
                </div>
                        
                <div class="list-group-item">
                    <h5 class="list-group-item-heading">@Html.DisplayNameFor(model => model.Project.Manager)</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Project.Manager.FirstName) @Html.DisplayFor(model => model.Project.Manager.LastName)</p>
                </div>
            <hr />
            </div> <!-- /.list-group -->




        </div>
    </div>
</div>


