@model IEnumerable<BugSquish.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<header class="p-header">
    <h2 class="p-title">Tickets</h2>
</header>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class= "btn btn-lg btn-success"})
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="example">
        <thead>
            <tr>
                <th>
                    Submitter
                </th>
                <th>
                    Developer
                </th>
                <th>
                    Priority
                </th>
                <th>
                    @*Project Manager*@
                </th>
                <th>
                    Status
                </th>
                <th>
                    Type
                </th>
                <th>
                    Title
                </th>

                <th>
                    Attachments
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th></th>
                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                {
                    <th></th>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Author.UserName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority.Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Project.Manager.UserName)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Attachments.Count)
                </td>
                <td>
                    @item.Created.ToString("D")
                </td>
                <td>
                    @if (item.Updated.HasValue)
                    {
                        @item.Updated.Value.ToString("D")
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-info" })
                </td>

                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                    </td>
                }

                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                {
                    <td>
                        @Html.ActionLink("Manage", "Manage", new { id = item.Id }, new { @class = "btn btn-xs btn-success"})
                    </td>
                }

            </tr>
        }
        </tbody>
    </table>
</div>
