@model CFblog.Models.Post

@{
    ViewBag.Title = "Details";
}

@if (User.IsInRole("Admin")) 
{ 
<p>
@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
@Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
@Html.ActionLink("Back to List", "Index")
</p> 
}



<div class="container content blog-page blog-item">
    <!--Blog Post-->
    <div class="blog margin-bottom-40">
    <div class="blog-img">
        @if (Model.MediaUrl != null)
        {
            <img class="img-responsive" src="@Url.Content(Model.MediaUrl)" alt="" />
        }
    </div>
    <h2>
        @Html.ActionLink(Model.Title, "Details", new { id = Model.Id })
    </h2>
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> @Model.Created </li>
            <li><i class="fa fa-pencil"></i> Powers Wartman </li>
            <li><i class="fa fa-comments"></i> <a href="#"> @Model.Comments.Count</a> Comments </li>
            <li>
                <i class="fa fa-tags"></i>
                @foreach (var item in Model.Categories)
                    {
                    @item.Name
                    }
            </li>
        </ul>
    </div>


    <p>@Html.Raw(Model.Body)</p><br>



        <!--Comments Display-->
        <div class="media">
            <h3>Comments</h3>

            @foreach (var comment in Model.Comments)
            {
            <!--main comment-->
                <a class="pull-left" href="#">
                    <img class="media-object" src="~/assets/img/site logo-sm.png" alt="" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@comment.Author<span>@comment.Created / <a href="#"> Reply </a></span></h4>
                    <p>@comment.Body</p>

                    <hr>
                </div>
           
            }
        </div><!--/media-->
        <!--End Comments Display-->
           


            </div>
            <!--End Blog Post-->

            

</div>
