@model CFblog.Models.Post

@{
    ViewBag.Title = "Details";
}

@if (User.IsInRole("Admin")) 
{ 
<p>
@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
@Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
@Html.ActionLink("Back to List", "Index")
</p> 
}



<div class="blog-page blog-item">
    <!--Blog Post-->
    <div class="blog margin-bottom-40">
    <div class="blog-img">
        @if (Model.MediaUrl != null)
        {
            <img class="img-responsive center" src="@Url.Content(Model.MediaUrl)" alt="" />
        }
    </div>
    <h2>
        @Html.ActionLink(Model.Title, "Details", new { id = Model.Id })
    </h2>
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> @Model.Created.ToLocalTime() </li>
            <li><i class="fa fa-pencil"></i> Powers Wartman </li>
            <li>
                <i class="fa fa-tags"></i>
                @foreach (var item in Model.Categories)
                    {
                    @item.Name
                    }
            </li>
        </ul>
    </div>


    <p>@Html.Raw(Model.Body)</p><br>



        <!--Comments Display-->
        <div class="media">
            <div class="row">
                <h3 class="col-md-3 vcenter">Comments</h3>
                <div class="col-md-8 vcenter2">
                        @Html.ActionLink("New Comment", "Create", "Comments", new { id = @Model.Id }, new { @class = "btn btn-success" })
                </div>
            </div>
            <div class="row">

                @foreach (var comment in Model.Comments)
                {
                    <div class="row"></div>
                    if (!comment.MarkForDeletion)
                    {
                        <div class="col-md-3 vcenter" style="margin-top: 10px">
                            <span class="text-center label label-dark-blue" >
                                @comment.Author.UserName
                            </span>
                        </div><!--                                  
                     --><div class="col-md-9 vcenter">
                            <div class="media-body">
                                
                                    @Html.Raw(comment.Body)
                                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                    {
                                        
                                            @Html.ActionLink("Delete", "Delete", "Comments", new { id = @comment.Id, postId = @Model.Id }, null)
                                        
                                    }
                                
                                <div class="media-heading text-right"><span>@comment.Created</span></div>

                                <hr>
                            </div>
                        </div>
                    }
                }
            </div>
            
        </div>
        <!--End Comments Display-->
    </div>
</div>
