@using PagedList;
@using PagedList.Mvc;

@model PagedList<CFblog.Models.Post>

@{
    ViewBag.Title = "Index";
}


    <!--=== Content Part ===-->
<div class="content blog-full-width">

    <div class="row">
        @if (User.IsInRole("Admin"))
        {
            <button class="btn btn-u-dark-blue">
                @Html.ActionLink("Create New", "Create")
            </button>
        }
    </div>

    @foreach (var post in Model)
    {
            <!--Blog Post-->
        <div class="blog margin-bottom-40">
            <div class="blog-img">
                <a href="~/Posts/Details/@post.Id">
                    @if (post.MediaUrl != null)
                    {
                        <img class="img-responsive center" src="@Url.Content(post.MediaUrl)" alt="" />
                    }
                </a>
            </div>
            <h2>
                @Html.ActionLink(post.Title, "Details", new { id = post.Id})
            </h2>
            <div class="blog-post-tags">
                <ul class="list-unstyled list-inline blog-info"> 
                    <li><i class="fa fa-calendar"></i> @post.Created </li>
                    <li><i class="fa fa-pencil"></i> Powers Wartman </li>
                    <li><i class="fa fa-tags"></i> 
                    @foreach (var item in post.Categories)
                        { 
                            @item.Name
                        }
                    </li>
                </ul>
            </div>
            <div id="abstract + @post.Id">
                <p>@Html.Raw(post.Body)</p>
            </div>
            <p>
                @Html.ActionLink("Read More", "Details", new { id = post.Id }, new { @class= "btn-u btn-u-small" })
            </p>
        </div>
    <!--End Blog Post-->


    }

    Page @Model.PageNumber of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))

</div><!--/container-->
<script type="text/javascript">
        $(document).ready(function () {
            $("[id^=abstract]").dotdotdot({
                height: 50,
                ellipsis: '... ',
                wrap: 'word',
                fallbackToLetter: true,
                watch: "window"
            });
        });
</script>
<!--=== End Content Part ===-->
