@model IEnumerable<CFblog.Models.Post>

@{
    ViewBag.Title = "Index";
}
    <!--=== Content Part ===-->
<div class="content blog-full-width">


@if (User.IsInRole("Admin"))
{
    <h6>
        @Html.ActionLink("Create New", "Create")
    </h6>
}

    @foreach (var post in Model)
    {
            <!--Blog Post-->
        <div class="blog margin-bottom-40">
            <div class="blog-img">
                <img class="img-responsive" src="@post.MediaUrl" alt="">
            </div>
            <h2>
                @Html.ActionLink(post.Title, "Details", new { id = post.Id})
            </h2>
            <div class="blog-post-tags">
                <ul class="list-unstyled list-inline blog-info"> 
                    <li><i class="fa fa-calendar"></i> @post.Created </li>
                    <li><i class="fa fa-pencil"></i> Powers Wartman </li>
                    <li><i class="fa fa-comments"></i> <a href="#"> @post.Comments.Count</a> Comments </li>
                    <li><i class="fa fa-tags"></i> 
                    @foreach (var item in post.Categories)
                        { 
                            @item.Name
                        }
                    </li>
                </ul>
            </div>
            <p>@post.Body</p>
            <p>
                @Html.ActionLink("Read More", "Details", new { id = post.Id }, new { @class= "btn-u btn-u-small" })
            </p>
        </div>
    <!--End Blog Post-->


    }

</div><!--/container-->
<!--=== End Content Part ===-->
