
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Assets/js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css" />

    <link rel="stylesheet" href="~/Assets/js/plugins/icheck/skins/minimal/blue.css" type="text/css" />

    <link rel="stylesheet" href="~/Assets/css/App.css" type="text/css" />

    <link rel="stylesheet" href="~/Assets/css/custom.css" type="text/css" />


    <script type="text/javascript">
    var appInsights = window.appInsights || function (config) {
        function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Ajax"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
    }({
        instrumentationKey: "2f390923-4726-4d40-bbac-d049540a0016"
    });

    window.appInsights = appInsights;
    appInsights.trackPageView();
    </script>
</head>
<body>

    <div id="wrapper">

        <header id="header">

            <h1 id="site-logo">
                <a href=@Url.Action("Index", "Home")>
                    <img src="~/Assets/img/logos/site logo-sm.png" alt="Site Logo" />
                </a>
            </h1>

            <a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
                <i class="fa fa-cog"></i>
            </a>

            <a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
                <i class="fa fa-reorder"></i>
            </a>

        </header> <!-- header -->

        <nav id="top-bar" class="collapse top-bar-collapse">


            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, htmlAttributes: new { id = "logoutForm", @class = "navbar-right"}))
                {
                    @Html.AntiForgeryToken()
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href=javascript:;>
                                <i class="fa fa-user"></i>
                                @User.Identity.GetUserName()
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <i class="fa fa-user"></i>
                                    @Html.ActionLink("My Profile", "Edit", "Manage",
                                     null,
                                     htmlAttributes: new { title = "Manage" })
                                </li>      
                                <li class="divider"></li>                         
                                <li>
                                    <i class=" fa fa-sign-out"></i>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        Log off
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href=javascript:;>
                            <i class="fa fa-user"></i>
                            Please Log In or Register
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                            </li>
                            <li>
                                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </li>
                        </ul>
                    </li>
                </ul>
            }
        </nav> <!-- /#top-bar -->


        <div id="sidebar-wrapper" class="collapse sidebar-collapse">

            <div id="search">
                @*<form>
                    <input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

                    <button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                </form>*@
            </div> <!-- #search -->

            <nav id="sidebar">
                <ul id="main-nav" class="open-active">
                    <li class="">                        
                        <a href=@Url.Action("Index", "Home")><i class="fa fa-dashboard"></i>Dashboard</a>                    
                    </li>
                    <li class="">
                        <a href=@Url.Action("Index", "HouseholdAccounts")><i class="fa fa-book"></i>Accounts</a>
                    </li>
                    <li class="">
                        <a href=@Url.Action("Index", "Budgets")><i class="fa fa-bar-chart-o"></i>Budgets</a>
                    </li>
                    <li class="">
                        <a href=@Url.Action("Details", "Household")><i class="fa fa-group"></i>Household</a>
                    </li>
                    <li class="">
                        <a href=@Url.Action("About", "Home")><i class="fa fa-question-circle"></i>Help</a>
                    </li>
                </ul>
            </nav> <!-- #sidebar -->
        </div> <!-- /#sidebar-wrapper -->

    <!--Content starts here-->
        <div id="content">
            @RenderBody() 
        </div> <!-- #content -->
    </div> <!-- #wrapper -->

    <footer id="footer">
        <ul class="nav pull-right">
            <li>
                Copyright &copy; 2016, Powers Wartman.
            </li>
        </ul>
    </footer>
    <script src="~/Assets/js/libs/jquery-1.9.1.min.js"></script>
    <script src="~/Assets/js/libs/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Assets/js/libs/bootstrap.min.js"></script>

    <script src="~/Assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/plugins/datatables/DT_bootstrap.js"></script>
    <script src="~/Assets/js/plugins/tableCheckable/jquery.tableCheckable.js"></script>

    <script src="~/Assets/js/plugins/icheck/jquery.icheck.min.js"></script>

    <script src="~/Assets/js/App.js"></script>
</body>


 

</html>
