@model BugSquish.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>

<div class="row">
    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <div class="list-group">

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">Project Name</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Name)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">Project Manager</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Manager.FirstName)</p>
                </div>

                <div class="list-group-item">
                    <h5 class="list-group-item-heading">Project Details</h5>
                    <p class="list-group-item-text">@Html.DisplayFor(model => model.Description)</p>
                </div>
                <div class="list-group-item">
                    <p class="list-group-item-text">
                        @Html.ActionLink("Manage Project Users", "ProjectUsers", new { id = Model.Id }, new { @class = "btn btn-success"})
                        @Html.ActionLink("Edit Project", "Edit", new { id = Model.Id }, new { @class="btn btn-info"})
                        @Html.ActionLink("Back to Projects Index", "Index", null, new { @class = "btn btn-default"})
                    </p>
                </div>
            </div> <!-- /.list-group -->
        </div>

        <!--display recent tickets-->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Recent Tickets
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Created</th>
                            <th>Author</th>
                            <th>Priority</th>
                            <th>Type</th>
                            <th>Developer</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticket in Model.Tickets.OrderByDescending(i => i.Created).Take(5).ToList())
                        {
                            <tr>
                                <td>@ticket.Created.ToString("d")</td>
                                <td>@ticket.Author.UserName</td>
                                <td>@ticket.Priority.Name</td>
                                <td>@ticket.TicketType.Name</td>
                                <td>@ticket.Developer.FirstName</td>
                                <td>@Html.ActionLink("Details", "Details", "Tickets", new { id = ticket.Id }, new { @class = "btn btn-xs btn-info" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!--list developers for project-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Project Developers
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Current Tickets</th>
                            <th># of Projects</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dev in Model.Developers.OrderByDescending(i => i.FirstName).Take(5).ToList())
                        {
                            <tr>
                                <td>@dev.FirstName</td>
                                <td>@dev.Tickets.Count()</td>
                                <td>@dev.Projects.Count()</td>
                                <td>@Html.ActionLink("Profile", "UserProfile", new { id = dev.Id }, new { @class = "btn btn-xs btn-info"})</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>




</div>
 



