@model BugSquish.Models.TicketAttachment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <div>
                <h4>TicketAttachment</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Author.FirstName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Author.FirstName)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.AttachmentUrl)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AttachmentUrl)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Notes)
                    </dt>

                    <dd>
                        @Html.Raw(Model.Notes)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>

