@model IEnumerable<CFblog.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCommentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarkForDeletion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCommentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkForDeletion)
        </td>
        <td>
            @if (User.Identity.Name == item.Author.UserName || User.IsInRole("Moderator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            }

        </td>
    </tr>
}

</table>
